rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Дозволяємо читати всі документи
    match /{document=**} {
      allow read: if true;
    }
    
    // Дозволяємо записувати в колекцію products тільки аутентифікованим адміністраторам
    match /products/{productId} {
      allow write: if request.auth != null && request.auth.token.email == "chasov90@gmail.com";
    }
    
    // Дозволяємо записувати в колекцію categories тільки аутентифікованим адміністраторам
    match /categories/{categoryId} {
      allow write: if request.auth != null && request.auth.token.email == "chasov90@gmail.com";
    }
  }
} 